@import '../../shared/foundation';

// #7aa5d2 #8fb2d7
.header {
    background-color: black;
    min-width: 100%;
    width: 100%;
    overflow: hidden;
    &__nav{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items:center;
        position: relative;
        transition: margin-left .5s;
        overflow: hidden;

    }
    &__container {
        background: rgba(0, 0, 0, 0.7);
        height: 100vh;
        overflow: hidden;
    }
    &__video{
        position: relative;
        overflow: hidden;
        max-width: 100%;
        object-fit: fill;
        min-height: 100vh;
        background-color: black;

    video {
        background: no-repeat;
        background-size: auto;
        top: 0px;
        left: 0px;

    }
    }
    &__all {
        position: absolute;
        bottom: 0;
        color: #f1f1f1;
        min-width: 100%;
        min-height: 100vh;
        background: rgba(0, 0, 0, 0.7);

    }
    &__words {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        @include tablet-only {
            margin-left: 0;
            justify-content: center;
            align-items: center;
        }

        h1{
            font-size: 40px;
            @include tablet-only {
                font-size: 55px;
            }
            @include desktop-only {
                font-size: 75px;
            }
        }
        p{
            font-size: 12px;
            @include tablet-only {
                font-size: 25px;
            }
            @include desktop-only {
                font-size: 35px;
            }
        }

    }
    &__button {
        background-color: transparent;
        border: none;
        margin-left: 10px;
    }
}
.nav {
    width: 40px;
    display: block;
    border: 3px solid #eeeeee;
    padding: 7px 9px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    div {
        height: 4px !important;
        background: #7aa5d2;
        margin: 7px 0px 7px 0px;
        border-radius: 25px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    .match {
    width: 25px;
    }
    
    .team {
    width: 30px;
    }
    
    &__logo {
        height: 125px;
    }
}
.nav:hover div {
    width: 40px;
}

.realnav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  
   a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}


  